.container.w-75
  .mt-5
    .w-50.mx-auto
      = render partial: 'forms/title_query_search', locals: { path: articles_path }
    %hr

  %p.text-end.mt-4
    = "全#{@articles.size}件"

  %table.table.table-hover{ style: "table-layout: fixed;" }
    %tr.table-light
      %th.w-25 タイトル
      %th{ style: "width: 65%;" } 説明
    - @articles.each do |article|
      %tr.align-middle
        %td
          = article.title
        %td
          = article.description

  .my-5
    = paginate @articles
