.container.w-75
  .mt-5.text-center
    = form_with url: articles_path, local: true, method: :get, class: "d-flex justify-content-center" do |f|
      = f.search_field :title, placeholder: 'タイトルで調べる', value: params[:title], class: "w-50 form-control me-2 d-inline"
      = f.submit '検索', class: "btn btn-outline-primary"
    %hr

  %p.text-end.mt-4
    = "全#{@articles.size}件"

  %table.table.table-hover{ style: "table-layout: fixed;" }
    %tr.table-light
      %th.w-25 タイトル
      %th{ style: "width: 65%;" } 説明
    - @articles.each do |article|
      %tr.align-middle
        %td
          = article.title
        %td
          = article.description

  .my-5
    = paginate @articles
