.container.w-75
  .mt-5
    .w-50.mx-auto
      = form_with url: articles_path, local: true, skip_enforcing_utf8: true, method: :get, class: "d-flex justify-content-center input-group" do |f|
        = f.search_field :title, placeholder: 'タイトルで検索', value: params[:title], class: "form-control d-inline"
        = button_tag type: "submit", class: "input-group-text" do
          = image_tag "search.svg"
  %hr

  %p.text-end.mt-4
    = "全#{@articles.size}件"

  %table.table.table-hover{ style: "table-layout: fixed;" }
    %tr.table-light
      %th.w-25 タイトル
      %th{ style: "width: 65%;" } 説明
    - @articles.each do |article|
      %tr.align-middle
        %td
          = article.title
        %td
          = article.description

  .my-5
    = paginate @articles
