.container{ class: "w-75" }
  %div{ class: "mt-5 text-center" }
    = form_with url: articles_path, local: true, method: :get do |f|
      = f.text_field :title, placeholder: 'タイトルを入力してください', value: params[:title], class: "w-50"
      = f.submit '検索する'
    %hr

  %p{ style: "text-align: right;" }
    = "全#{@articles.size}件"
    = link_to "新規作成", new_article_path

  %table{ class: "table table-hover" }
    %tr
      %th タイトル
      %th 説明
      %td
    - @articles.each do |article|
      %tr
        %td{ style: "padding: 10px;" }
          = link_to article.title, article_path(article.id)
        %td{ style: "padding: 10px;" }
          = article.description
        %td
          = button_to '編集する', edit_article_path(article.id), method: :get
          = button_to '削除する', article_path(article.id), method: :delete