= form_with model: @article_draft, local: true do |f|
  %div{ style: "margin: 30px;" }
    = f.label :title
    = f.text_field :title
  %div{ style: "margin: 30px;" }
    = f.label :description
    = f.text_area :description
  = f.submit "更新する"